# Byte-compiled Python files
__pycache__/
*.pyc

# macOS metadata
.DS_Store

# Generated folders
/data/
/public/*
!/public/
!/public/prev_ros.json
!/public/current_ros.json
!/public/ros_rankings.json
